<!-- partials need id because turbostream replaces -->
<div id="summary" class="p-10 bg-blue-200 text-blue-800 rounded-lg chatgpt">
    <div class="text-sm text-blue-500 mb-5">
      Generating summary for book <span class="font-bold italic"><%= book_title %></span> with model:
      <span class="font-bold"><%= model.name %></span> and temperature:<span class="font-bold"><%= temperature %></span>
    </div>
    <%== book_summary %>
</div>
