<div>
  <h1 class="font-bold text-4xl text-gray-300">Book Summarizer</h1>
  <p class="text-gray-400">Use Open AI Chat GPT API to summarize a book</p>
</div>

<%= render partial: "book_summary/summary_request_form" %>

<%= turbo_stream_from "book_summarizer" %>

<div id="summary"></div>
