<div>
  <%= link_to root_path do %>
    <div class="flex justify-left items-center">
      <%= image_tag 'icon.png', width: width, alt: "logo" %>
      <h1 class="font-bold text-2xl sm:text-4xl text-gray-300">Book Summarizer</h1>
    </div>
  <% end %>
</div> <%# icon %>
