@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .field-label {
        @apply border-y-2 border-l-2 border-gray-400 rounded-l-md bg-gray-700 text-gray-100 pr-4 px-3 py-2 mt-2
    }

    .field-text {
        @apply block text-gray-900 shadow-xl rounded-r-md border-2 border-gray-400 outline-none
         px-3 py-2 mt-2 hover:border-2 hover:border-yellow-500
         hover:bg-yellow-50 transition ease-in-out duration-500
         focus:border-2 focus:border-orange-300 focus:bg-orange-200
    }

    .form-button {
        @apply rounded-lg py-3 px-5 bg-violet-500 hover:bg-violet-400 text-violet-200 hover:text-violet-900
         hover:font-bold inline-block font-bold cursor-pointer border border-purple-500
         focus:border-2 focus:border-orange-300
    }
}